.app-management {
    .item-nav {
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        padding-right: 10px;
        border-right: outset;
        border-right-width: thin;
        color: black;
    }
    .item-nav-monitor {
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        padding-left: 10px;
        color: black;
    }
}